.header-bar {
  width: 100%;
  height: 40px;
  /* height: 12.5%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 5px 30px; */
  padding: 5px 9.375%;
  background-color: #426382;
  color: white;
}
.header-bar__column {
  flex: 1 1 0;
}
.header-bar__column:last-of-type {
  text-align: end;
}
.header-bar__column span,
.header-bar__column i:not(.header-bar__column i:last-of-type) {
  /* margin-right: 5px; */
  margin-right: 1.5625%;
}
