.header-bar {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  background-color: #426382;
  color: white;
}
.header-bar__column span,
.header-bar__column i:not(.header-bar__column i:last-of-type) {
  margin-right: 5px;
}
