.nav-bar {
  width: 100%;
  height: 55px;
  /* padding: 20px; */
  /* font-size: 20px; */
  /* height: 17.1875%; */
  padding: 20px 6.25%;
  font-size: 1.25rem;
  color: white;
  background-color: #517da2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar__column:not(.nav-bar__column:nth-of-type(2)) {
  width: 20%;
}
.nav-bar__column:nth-of-type(2) {
  width: 60%;
}
.nav-bar__column:last-of-type {
  text-align: end;
}
