.chatting-room-list__img--telegram {
  background-color: #30a3e6;
}
.chatting-room-list__img--high-school {
  background-color: #f38c49;
}
.chatting-room-list__img--sungak {
  background-color: #76c84c;
}
.chatting-room-list__img--madol {
  background-color: #14172a;
}
.chatting-room-list__img--jongjjang {
  background-color: #e46554;
}
.chatting-room-list__img--joonghwa {
  background-color: #f38c49;
}
.chatting-room-list__img--giback {
  background-color: #8e85ee;
}
.chatting-room-list__img--jinho {
  background-color: #76c84c;
}
