.chatting-room-list__img--telegram {
  background-color: #30a3e6;
}
.chatting-room-list__img--high-school {
  background-color: #f38c49;
}
.chatting-room-list__img--sungak {
  background-color: #76c84c;
}
.chatting-room-list__img--madol {
  background-color: #14172a;
}
.chatting-room-list__img--jongjjang {
  background-color: #e46554;
}
.chatting-room-list__img--joonghwa {
  background-color: #f38c49;
}
.chatting-room-list__img--giback {
  background-color: #8e85ee;
}
.chatting-room-list__img--jinho {
  background-color: #76c84c;
}
.edit {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: calc(var(--home-bar-height) + 20px);
  right: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #66a9e0;
}
.edit i {
  color: white;
  font-size: 24px;
}
.nav {
}
